<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Form</title>
</head>
<body>
    
   <h1>Form</h1>
 
    <form action="#">  
      <table>  
      <tr>  
          <td class="tdLabel"><label for="register_name" class="label">Enter name:</label></td>  
          <td><input type="text" name="name" value="" id="register_name" style="width:160px"/></td>  
      </tr>  
      <tr>  
          <td class="tdLabel"><label for="register_phone" class="label">Phone:</label></td>  
          <td><input type="tel" name="phone" id="register_phone" style="width:160px"/></td>  
      </tr>  
      <tr>  
          <td class="tdLabel"><label for="register_email" class="label">Enter Email:</label></td>  
          <td></td>
      </td><input type="email" name="email" value="" id="register_email" style="width:160px"/></td>  
      </tr>  
     
      <tr>  
          <td class="tdLabel"><label for="register_country" class="label">Select Country:</label></td>  
          <td><select name="country" id="register_country" style="width:160px">  
          <option value="Rwandan">Rwandan</option>  
          <option value="Burundian">Burundian</option>  
          
      </select>  
      </td>  
      </tr>  
      <tr>  
          <td colspan="2"><a href="/speakers/" align="right">View list</a><a href="/speakers/create/" type="submit" id="register_0"></a>  
      </div></td>  
      </tr>  
      </table>  
      </form>  
      
</body>
</html>